@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../styles/components.css";

@layer base {
    @font-face {
        font-family: Gotham-Light;
        src: url(../../public/assets/font/Gotham-Light.otf) format('truetype');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: Gotham-Medium;
        src: url(../../public/assets/font/GothamMedium.otf) format('truetype');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: Gotham-Bold;
        src: url(../../public/assets/font/GothamBold.ttf) format('truetype');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: Gotham-Black;
        src: url(../../public/assets/font/Gotham-Black.otf) format('truetype');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }
}

.navbar-bg {
    background: rgba(20, 20, 20, 0.9);
    backdrop-filter: blur(100px);
}

.navbar-darkBg {
    background: rgba(20, 20, 20, 0.5);
    backdrop-filter: blur(64px)
}

li {
    list-style: disc;
    margin-left: 1rem;
}


h1,
h2,
h3,
strong {
    font-family: Gotham-Bold;
}

p,
li {
    font-family: Gotham-Light;
}

/* No scrollbar styling */

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none !important;
    width: 0px !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none !important;
    /* IE and Edge */
    scrollbar-width: none !important;
    /* Firefox */
}

/* Scrollbar styling */

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

/* Autofill input styling */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #000;
}

/* Number input type */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}